<div class="main row w-100 m-0">
  <div class="left-side-bar col-sm-3 shadow-sm mh-100 overflow-hidden">
    
  </div>
  <div class="center-section col-sm-6 overflow-hidden">
    <div class="inner-nav shadow-sm d-flex justify-content-around w-100 p-5">
      <%= link_to 'Add Student', new_student_path , class: 'btn btn-success
      text-decoration-none text-white fw-bold'%> <%= link_to 'Add
      Results',new_results_path, class: 'btn btn-info text-decoration-none
      text-white fw-bold' %> <%= link_to 'Add Semister', add_semister_path,
      class: 'text-decoration-none btn btn-success text-white fw-bold' %> <%=
      link_to 'Add Department', new_message_path, class: 'text-decoration-none
      btn btn-info text-white fw-bold' %>
    </div>
    All course
  </div>
  <div class="right-side-bar col-sm-3 shadow-sm mh-100">
    schedule tasks here
  </div>
</div>
